<h3 class="important-tittle text-left">Gallery</h3>

<div ng-repeat="section in sms.sections" class="row">
    
    <div class="col-xs-12">
        <h3>{{section.name}}</h3>
        
        <div class="row">
            <div ng-repeat="article in section.articles" class="col-md-4">
                
                <div class="panel card-shadow">
                    <div class="panel-body">
                        <img src="{{source}}/v1/start/{{article.name}}.png"/>
                        <h3 class="text-warning">{{article.name}}</h3>
                        <p>{{article.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
