<div ng-repeat="section in sms.sections" class="row">
    <div class="col-lg-10 col-lg-offset-1 col-xs-12">
        <div class="row">
            <div ng-repeat="article in section.articles" class="col-md-4">
                <div class="panel card-shadow">
                    <a ng-href="/App/examples/{{version}}/{{platform}}/{{article.name}}">
                        <div class="panel-body">
                            <img src="{{source}}/{{version}}/start/{{article.name}}.png"/>
                            <h3 class="text-warning">{{article.name}}</h3>
                            <p>{{article.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
