<h4 class="important-tittle">Stacked Area</h4>

<div class="text-center">
    <img ng-src="{{source}}/v1/Stacked Area/stacked-areas.jpg"/>
</div>

<h4>Code Behind</h4>

<pre ng-if="wpf" class="prettyprint" url="https://raw.githubusercontent.com/beto-rodriguez/Live-Charts/master/Examples/Wpf/CartesianChart/StackedArea/StackedAreaExample.xaml.cs"></pre>
<pre ng-if="uwp" class="prettyprint" url="https://raw.githubusercontent.com/beto-rodriguez/Live-Charts/master/Examples/Wpf/CartesianChart/StackedArea/StackedAreaExample.xaml.cs"></pre>
<pre ng-if="wf" class="prettyprint" url="https://raw.githubusercontent.com/beto-rodriguez/Live-Charts/master/Examples/WinForms/Cartesian/StackedArea/StackedAreaExample.cs"></pre>

<h4 ng-if="wpf || uwp">XAML</h4>

<pre ng-if="wpf" class="prettyprint" url="https://raw.githubusercontent.com/beto-rodriguez/Live-Charts/master/Examples/Wpf/CartesianChart/StackedArea/StackedAreaExample.xaml"></pre>
<pre ng-if="uwp" class="prettyprint" url="https://raw.githubusercontent.com/beto-rodriguez/Live-Charts/master/Examples/Uwp/CartesianChart/StackedArea/StackedAreaExample.xaml"></pre>